<?xml version="1.0"?>
<config>
    <modules>
        <Luz_Todo>
            <version>0.2</version>
        </Luz_Todo>
    </modules>

    <frontend>
        <routers>
            <luz_todo>
                <use>standard</use>
                <args>
                    <module>Luz_Todo</module>
                    <frontName>todo</frontName>
                </args>
            </luz_todo>
        </routers>

        <layout>
            <updates>
                <luz_todo>
                    <file>luz/todo.xml</file>
                </luz_todo>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <luz_todo>
                <class>Luz_Todo_Model</class>
                <resourceModel>luz_todo_resource</resourceModel>
            </luz_todo>

            <luz_todo_resource>
                <class>Luz_Todo_Model_Resource</class>
                <entities>
                    <task>
                        <table>luz_todo_task</table>
                    </task>
                </entities>
            </luz_todo_resource>
        </models>

        <resources>
            <luz_todo_setup>
                <setup>
                    <module>Luz_Todo</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </luz_todo_setup>
        </resources>
    </global>
</config>